.cards {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}