.footer__column-link {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    transition: opacity 0.5s;
  }

  .footer__column-link:hover {
    opacity: 0.5;
  }