.feynman__link {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-align: center;
}

.feynman__link::after {
    content: " →";
}