.header__link {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity 0.5s;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link::after {
  content: " →";
}